:root {
    --font-blue-dark: #0065FC;
    --font-blue-bright: #DEEBFF;
    --font-grey: #F2F2F2; 
  }

body {
    font-family: Raleway;
}

.layout {
    max-width: 1790px;
    width: 100%;
    margin: auto;
}

.bloc-head_background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo_page {
    width: 130px;
}

nav ul {
    padding-right: 10px;
    list-style-type: none;
    display: flex;
    position: absolute;
    top: -24px;
    right: 102px;
}

nav li {
    font-weight: 500;  
    margin: 0 40px;
}

li a {
    color: var(--font-blue-dark);
    text-decoration: none; 
    line-height: 75px;
}

li a:before {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s, background-color 0.5s;
}

li a:hover:before{
    width: 100%;
    background-color: var(--font-blue-dark);
}

.sub-button {
    font-weight: 700;  
    color: var(--font-blue-dark);
    text-decoration: none;   
}